body {
    background-image:linear-gradient(to bottom,rgb(183, 240, 250),rgb(183, 240, 250));
}

h1,h2 {
    margin: 9px;
    font-family: Arial, Helvetica, sans-serif;
}


 
#cabeçalho {
    background-color: rgb(135, 222, 210);
    color: black;
    text-align: center;
    padding: 8px;
    margin: 24px

}
#foto img {
text-align: center;
width: 700px;
height: 360px;
}
